.calculatorBlock {
    display: inline-block;
    border: 1px solid black;
    background-color: #787878;
    border-radius: 5px;
}


.calculatorContainer {

}

.buttonsContainer {
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    grid-gap: 1px;
}

.btn {
}